.app {
  text-align: center;
  background-color: #eef0f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dashboard {
  position: relative;
  padding: 20px;
  width: 700px;
  height: 450px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.dashboard__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard__data {
  display: flex;
  align-items: center;
  color: black;
  height: 100%;
}

.dashboard__data-key {
  font-size: 28px;
  font-weight: bold;
}

.dashboard__data-values {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #1C1C1C;
}

.dashboard__data-value {
  font-size: 24px;
  font-weight: 600;
}

.dashboard__data-wrapper {
  display: grid;
  gap: 24px;
  height: max-content;
  color: #1C1C1C;
}

.dashboard__data-amount {
  font-weight: normal;
}

.dashboard__no-data {
  align-self: center;
  color: #6A6D70;
}

.agg-button {
  width: 300px;
  height: 50px;
  margin-top: auto;
  border-radius: 8px;
  background-color: black;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.loader {
  position: absolute;
  top: calc(50% - 70px);
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid white;
  border-radius: 50%;
  border-top-color: black;
  border-right-color: black;
  border-bottom-color: black;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
