name: ci/cd

on:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: 'adopt'
          architecture: x64
      - name: Preparation
        run: chmod +x gradlew
      - name: Tests
        run: ./gradlew test --parallel
  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: 'adopt'
          architecture: x64
      - name: Preparation
        run: chmod +x gradlew
      - name: Build
        if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop'
        run: ./gradlew clean build -x test --parallel -Djib.to.image=${{ secrets.DOCKER_HUB_REGISTRY }}/${{ secrets.DOCKER_HUB_USER }}/analytic-service:latest -Djib.to.auth.username=${{ secrets.DOCKER_HUB_USER }} -Djib.to.auth.password=${{ secrets.DOCKER_HUB_PASSWORD }}
#  notification:
#    runs-on: ubuntu-latest
#    needs: build
#    steps:
#      - name: Telegram notification
#        uses: appleboy/telegram-action@master
#        if: always()
#        with:
#          to: ${{ secrets.TELEGRAM_TO }}
#          token: ${{ secrets.TELEGRAM_TOKEN }}
#          args: ${{github.repository}} - a ${{ github.event_name }} to ${{ github.ref }} triggered by ${{ github.actor }} has status ${{ job.status }}.